@page "/"
@inject NavigationManager NavigationManager

<h1>Static Data Example</h1>

<br />

@if (_task.IsCompleted)
{
    <JsGridBlazor T="Client" Value="_gridClient" RowClick="WriteLine"></JsGridBlazor>
}
else
{
    <text>Loading...</text>
}

@code
{
    private readonly Client[] _clients = new[]
    {
        new Client("Otto Clay", 25, 1, "Ap #897-1459 Quam Avenue", false),
        new Client("Connor Johnston", 45, 2, "Ap #370-4647 Dis Av.", true),
        new Client("Lacey Hess", 29, 3, "Ap #365-8835 Integer St.", false),
        new Client("Timothy Henson", 56, 1, "911-5143 Luctus Ave", true),
        new Client("Ramona Benton", 32, 3, "Ap #614-689 Vehicula Street", false),
    };

    private readonly Country[] _countries = new[]
    {
        new Country(0, ""),
        new Country(1, "United States"),
        new Country(2, "Canada"),
        new Country(3, "United Kingdom"),
    };

    private Task _task;
    private IGridClient<Client> _gridClient;

    public static Action<IGridFieldCollection<Client>> Fields = c =>
    {
        c.Add(x => x.Name, width: 150);
        c.Add(x => x.Age, width: 50);
        c.Add(x => x.Address, width: 200);
        c.Add(x => x.Married, "Is Married", true, 50);
        c.AddControl(width: 50, editing: true);
    };

    protected override async Task OnParametersSetAsync()
    {
        _gridClient = new GridClientBuilder<Client>(Fields)
            .WithStaticData(_clients)
            .WithSettings(editing: true)
            .WithDimensions("100%", "500px")
            .Build();
        _task = Task.CompletedTask;
        await _task;
    }

    private void WriteLine(RowEventArgs args)
    {
        Console.WriteLine($"Write Line: RowIndex={args.ItemIndex}; Item={args.Item}");
    }
}
